<div class="app-container">
    <app-header></app-header>

    <div class="app-root">
        <router-outlet></router-outlet>
    </div>
        

    <footer class="page-footer orange">
        <div class="container">
            <div class="row">
            <div class="col l4 s12">
                <h6 class="white-text">Powered by
                <a class="orange-text text-lighten-3" href="https://github.com/jodylecompte/AdLinkr">
                    AdLinkr
                </a>
                </h6>
            </div>
            <div class="col l4 s12">
                <h6 class="white-text">
                <a class="orange-text text-lighten-3" href="https://github.com/jodylecompte/AdLinkr">
                    Get Support
                </a>
                </h6>
            </div>
            <div class="col l4 s12">
                <h6 class="white-text">
                <a class="orange-text text-lighten-3" href="https://github.com/jodylecompte/AdLinkr">
                    Github
                </a>
                </h6>
            </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
            <p>Coded with ♥ by
                <a href="https://jodylecompte.com" class="orange-text text-lighten-3">
                Jody LeCompte.
                </a>
                &copy;2018. Made freely available under MIT License.
            </p>
            </div>
        </div>
    </footer>
</div>
